## This notebook will be used for the IBM Data Science Capstone project

In [26]:
import numpy as np
import pandas as pd

In [27]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [101]:
df=pd.read_excel(r'C:\Users\Ajay Dhariwal\Desktop\data.xlsx')

In [102]:
df=df[df['Borough']!='Not assigned']
df=df.set_index('Postal Code')

In [91]:
a=df.groupby('Postal Code')

In [103]:
df.head(2)

               Borough                                       Neighborhood
Postal Code
M9W          Etobicoke                Northwest, West Humber - Clairville
M9V          Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...

## Shape of the final data set

In [118]:
df1=pd.read_csv(r'C:\Users\Ajay Dhariwal\Downloads\Geospatial_Coordinates.csv')

In [121]:
df1.head(2)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497

In [122]:
df_final=pd.merge(df,df1,left_index=True,right_on='Postal Code')

In [124]:
df_final.head()

,Borough,Neighborhood,Postal Code,Latitude,Longitude
102,Etobicoke,"Northwest, West Humber - Clairville",M9W,43.706748,-79.594054
101,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",M9V,43.739416,-79.588437
100,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",M9R,43.688905,-79.554724
99,Etobicoke,Westmount,M9P,43.696319,-79.532242
98,York,Weston,M9N,43.706876,-79.518188